{% extends "layout.html" %}
{% block title %}justinta{% endblock %}

{% block body %}
<div class="grid fluid" style="margin-left: 15%">
    <div class="row">
        <!--
        {% for head in headings %}
        <div class="span4 bg-darkCyan padding5 text-center">
            <h2 class="fg-white">{{ head }}</h2>
        </div>
        {% endfor %}
        -->

        <div class="span8 bg-darkCyan padding5 text-center">
            <h2 class="fg-white">Heading thing</h2>
        </div>
    </div>
    <div class="span5 prettyprint">
        <p>I am not a designer. Don't judge how my site looks on that.</p>
    </div>
    <div class="row">
        <div class="span5 bg-darkCyan padding5 text-center">
            <h2 class="fg-white">Another heading</h2>
        </div>
    </div>
</div>
{% endblock body %}