<!DOCTYPE html>
<html>

<head>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='docs/css/metro-bootstrap.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='docs/css/metro-bootstrap-responsive.css') }}">

    <!-- bootstrap JS -->
    <script src="{{ url_for('static', filename='docs/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='docs/js/jquery/jquery.widget.min.js') }}"></script>
    <script src="{{ url_for('static', filename='docs/js/metro.min.js') }}"></script>

    <title>{% block title %}Default Title{% endblock %}</title>
</head>

<body class="metro">
    <div class="container">

        <!-- header -->
        <header class="margin20 nrm nlm">
            <div class="clearfix">
                <div class="place-left">
                    <h1>JustinTA</h1>
                    <h3>sec stuff is fun</h3>
                </div>
                <div class="container padding20">
                    <div class="button-set place-right span4">
                        {% for l in LST: %}
                            {% if l == 'index' %}
                            <a href="{{ url_for("default." + l) }}" class="button large info">home</a>
                            {% else %}
                            <a href="{{ url_for("default." + l) }}" class="button large info">{{ l }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr />
        </header>

        <div class="container">
            {% block body %}
            <p>Default Content. Need to change!</p>
            {% endblock body %}
        </div>

       <!-- footer -->
        <footer class="container">
            <hr />
            <!-- Social Networking links -->
            <div class="place-left span12">
            {% for s in SOCIALLIST %}
                <a href=" {{ SOCIALLIST[s] }}" target="_blank">
                    <i class="icon-{{ s }}"></i>
                </a>
            {% endfor %}
            </div>
            <div class="place-right">
                <a href="http://metroui.org.ua" target="_blank">
                    <p class="tertiary-text-secondary">&copy; 2014 Metro UI CSS</p>
                </a>
            </div>
       </footer>

    </div>
</body>
</html>