<!DOCTYPE html>
<html>
<head>
    <!-- css for metro styling -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <!-- javescript for metro style buttons -->
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h1>JustinTA</h1>
            </div>
            <div>
                {% for l in LST: %}
                    {% if l == 'index' %}
                        <a href="{{ url_for("default." + l) }}" class="button large primary">home</a>
                    {% else %}
                        <a href="{{ url_for("default." + l) }}" class="button large primary">{{ l }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </header>

        <div id="content">
            {% block body %}
                stuff.
            {% endblock body %}
        </div>

        <footer>
            <div>
            {% for s in SOCIALLIST %}
                {% if s == 'linkedin' %}
                    <a href="http://www.{{ s }}.com/profile/view?id=143851789" target="_blank" class="button small info">{{ s }}</a>
                {% elif s == 'github' %}
                    <a href="http://www.{{ s }}.com/justinta89" target="_blank" class="button small info">{{ s }}</a>
                {% else %}
                    <a href="http://www.{{ s }}.com/cowpunk1" target="_blank" class="button small info">{{ s }}</a>
                {% endif %}
            {% endfor %}
            </div>
        </footer><!-- footer -->
    </div>
</body>
</html>