{% extends "layout.html" %}
{% block title %}resume{% endblock %}

{% block body %}
<div class="grid show-grid">
    <div class="row">
        <div class="place-left span12 padding5 bg-darkCyan text-center">
            <h2 class="fg-white">Resume</h2>
        </div>
    </div>
    <div class="row">
        <div class="place-left span8">
            <h3>Justin T. Anderson</h3>
        </div>
        <div class="place-right span4">
            <h3>contact</h3>
            <p>
                1912 W 680 N Pleasant Grove, UT, 84062<br />
                Justin.Anders89@gmail.com<br />
                (801) 836-7365<br />
            </p>
        </div>
    </div>
</div>
{% endblock %}