{% extends 'base_admin.html' %}

{% block title %}Admin{% endblock %}


{% block body %}
    <!--{ if session.logged_in }-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="" method='POST'>
            {{ form.title(size=30, placeholder="title") }}<br />
            <br />
            {{ form.new_post(size=100, placeholder="enter new post") }}<br />
            {{ form.dropdown() }}
            <br />
            <input type="submit" value="post">
        </form>
    <!--{ endif }-->
{% endblock %}
