{% extends 'base_admin.html' %}

{% block title %}Admin{% endblock %}
{% block logout %}
    <a href="{{ url_for("admin.login") }}" class="button large info">Logout</a>
{% endblock %}
{% block body %}
    <p>This is to create a new post on the main site. </p>
    <form action="" method='POST'>
        {{ form.hidden_tag() }}
        {{ form.newPost(size=400, placeholder="enter new post") }}<br />
        Page:
        <div class="input-control select span2">
            <select>
                <option>main</option>
                <option>security</option>
            </select>
        </div><br />
        <input class="button info" type="submit" value="post">
    </form>
{% endblock %}