{% extends "layout.html" %}
{% block title %}justinta{% endblock %}

{% block body %}
<div class="grid fluid">
    <div class="row">
        <div class="span8 bg-darkCyan padding5 text-center">
            <h3 class="fg-white">February 24, 2014</h3>
        </div>
    </div>
    <div class="span8 readable-text">
        <p>I am an entry level penetration tester. I am building this site to
        better understand webdev to better do my job.</p>
    </div>
    <div class="row">
        <div class="span5 bg-darkCyan padding5 text-center">
            <h3 class="fg-white">February 21, 2014</h3>
        </div>
    </div>
    <div class="span5 readable-text">
        <p>First time stuff going up here. I'm not a designer, lay off the
        judgment please. Hopefully design will come with time and coordination
        with a real designer.</p>
    </div>
</div>
{% endblock body %}