<!DOCTYPE html>
<html>

<head>
    <!-- CSS -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='docs/css/metro-bootstrap.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='docs/css/metro-bootstrap-responsive.css') }}">

    <!-- JS -->
    <script src="{{ url_for('static', filename='docs/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='docs/js/jquery/jquery.widget.min.js') }}"></script>
    <script src="{{ url_for('static', filename='docs/js/metro/metro.min.js') }}"></script>

    <title>{% block title %}Default Title{% endblock %}</title>
</head>

<body class="metro">
    <div class="container">
        <!-- header -->
        <header class="margin20 nrm nlm">
            <div class="clearfix">
                <div class="place-left">
                    <a href="{{ url_for("default.index") }}"><h1>JustinTA</h1></a>
                    <h3>sec stuff is fun</h3>
                </div>
                <div class="container padding5">
                    <nav class="horizontal-menu place-right span4">
                        <ul>
                        {% for l in LST: %}
                            <li><a href="{{ url_for("default." + l) }}">{{ l }}</a></li>
                        {% endfor %}
                        </ul>

                    </nav>
                </div>
            </div>
            <hr />
        </header>

        <!-- body -->
        <div class="container">
            {% block who %}
            {% endblock %}
            <div class="offset4">
            {% block body %}
                <p>Default Content. Need to change!</p>
            {% endblock %}
            </div>
        </div>

       <!-- footer -->
        <footer class="container">
            <hr />
            <!-- Social Networking links -->
            <div class="place-left">
            {% for (k, v) in SOCIALLIST.items() %}
                <a href="{{ v }}" target="_blank">
                    <i class="icon-{{ k }}"></i>
                </a>
            {% endfor %}
            </div>
            <div class="place-right">
                <a href="http://metroui.org.ua" target="_blank">
                    <p class="tertiary-text-secondary">&copy; 2014 Metro UI CSS</p>
                </a>
            </div>
       </footer>

    </div>
</body>
</html>